{% extends 'base.html' %}
{% load static %}
{% block content %}

  <!--Header image -->
  <div class="row contact-image-box">

  </div>

  <div class="container-sm text-center">
    <div class="col-sm-12 ">
      
      <!--<img class="logo-image img-fluid" src="img/templar_cross_white-bkg.png" class="rounded" alt="...">-->
      <img src="{% static '/img/templar_cross_white-bkg.png' %}" class="logo-image" alt="...">
    </div>
  </div>
  <!--circle logo  
  <div class="container" id="circle-logo">
  </div>-->
  <div class="container py-4 ">
    <div class="row">
      <h1 class="display-4 callout text-center py-4">Kontakt</h1>
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
      {% endif %}
      <div class="col-md-6 py-4">
        <!-- Bootstrap 5 starter form -->
        <h2>Napište nám</h2>
        <form method="post" id="contactForm">
          {% csrf_token %}

          <!-- Name input -->
          <div class="mb-3">
            <label class="form-label" for="name">Jméno</label>
            {{ form.name }}
          </div>

          <!-- Email address input -->
          <div class="mb-3">
            <label class="form-label" for="emailAddress">Emailová adresa</label>
            {{ form.email }}
          </div>

          <!-- Phone input -->
          <div class="mb-3">
            <label class="form-label" for="emailAddress">Telefon</label>
            {{ form.phone }}
          </div>

          <!-- Subject input -->
          <div class="mb-3">
            <label class="form-label" for="emailAddress">Předmět</label>
            {{ form.subject }}
          </div>

          <!-- Message input -->
          <div class="mb-3">
            <label class="form-label" for="message">Text zprávy</label>
            {{ form.message }}
          </div>

          <!-- Form submit button -->
          <div class="d-grid">
            <button class="btn btn-danger custom-button btn-lg shadow" type="submit">Odeslat zprávu</button>
          </div>
        </form>


      </div>
      <div class="col-md-6 py-4 text-center">
        <img src="{% static '/img/znak řádu osmth.png' %}" class="logo-erb text-center" alt="...">
        <h5 class="body-text">Ordo Supremus Militaris Templi Hierosolymitani</h5>
        <p class=" body-text">Naměstí 1.Máje 56, 27062, Rynholec</p>
        <p class=" body-text">Telefon: 774 70 70 70</p>
        <p class=" body-text">Email: prioratus@osmth.cz</p>
        
      </div>
    </div>
  </div>
 


{% endblock content %}